body {
    background-image: url("../images/1.jpg") ;
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: 100% 137%;
    width: 100%;
    height: 100%;
}

.login{
    width: 36%;
    height: 450px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 25px 15px rgba(250, 253, 250, 0.7);
    margin: auto;
    margin-top: 100px;
}
.login i{
    display: block;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 25px;
    transition: all 0.3s ease;
    color:#139e0eda;
    font-size: 28px;
}
.login h4{
    color: #139e0eda;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: x-large;
}
form{
    margin-left: 20%;
    padding-top: 20px;
}
form label{
    font-size: large;
    font-family: sans-serif;
    font-weight: bold;
    color: #0fad0ada;
    margin-left: 8px;
}
form input{
    width: 78%;
    border: 3px solid rgba(231, 220, 220, 0.938);
    border-radius: 5px;
    background-color:rgba(231, 220, 220, 0.938);
    height: 41px;
}
form input:focus {
    background-color: rgba(102, 214, 102, 0.541);
}
form #mail{
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    font-size: 25px;
    z-index: 3;
    position: absolute;
    top: 32%;
    left: 59.5%;
    color: rgba(134, 123, 123, 0.788);
}
form #pwd{
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    font-size: 25px;
    z-index: 3;
    position: absolute;
    top: 44%;
    left: 59.5%;
    color: rgba(134, 123, 123, 0.788);
}
form button{
    margin-left: 21%;
    width: 130px;
    border-radius: 10px;
    background-color: #0fad0ada;
    height: 36px;
    border: 3px solid #0fad0ada;
    color: white;
    font-weight: bold;
}